/.phpunit.cache
/storage/*.key
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


/node_modules
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Ignore Compiled Assets
/public/build
/public/hot
/public/css/*
/public/js/*

# Ignore Large Files
*.zip
*.rar
*.exe
*.sql
*.mp4
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*